<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.zstu.login"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activty.MidActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activty.RegisterActivity" >
        </activity>
        <activity android:name=".activty.FindPasswordActivity" >
        </activity>
        <activity android:name=".activty.ChangePasswordActivity" >
        </activity>
        <activity android:name=".activty.SetNewPasswordActivity" >
        </activity>
        <activity android:name=".activty.LoginActivity" >
        </activity>
        <activity android:name=".activty.SetURL" >
        </activity>
    </application>

</manifest>
